body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #5d8d60;
  color: rgb(22, 20, 20);
}





/* styles.css */

/* Estilos generales */
.profesor {
  margin-bottom: 5px;
}



.profesor-btn {
  color: white; /* Color del texto del botón de profesores */
  padding: 8px 12px; /* Espaciado interno del botón de profesores */
  border: none; /* Borde del botón de profesores */
  border-radius: 4px; /* Borde redondeado del botón de profesores */
  cursor: pointer; /* Cursor al pasar sobre el botón de profesores */
  margin: 4px; /* Margen exterior del botón de profesores */
}

.profesor-btn.aula1 {
  background-color: rgb(69, 69, 224); /* Color de fondo del botón de profesores para aula 1 */
}

.profesor-btn.aula2 {
  background-color:rgb(152, 199, 81); /* Color de fondo del botón de profesores para aula 2 */
}

.profesor-btn.aula3 {
  background-color: rgb(248, 105, 53); /* Color de fondo del botón de profesores para aula 3 */
}